<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form id="login-form">
        <fieldset>
          <legend>로그인</legend>
          <div>
            <input id="username" type="text" placeholder="이름" required />
          </div>
          <div>
            <input id="password" type="password" placeholder="비밀번호" required />
          </div>
          <button type="submit">로그인</button>
        </fieldset>
    </form>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="/login.js"></script>
</body>
</html>