<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <form id="car-form">
      <fieldset>
        <legend>자동차 조회</legend>
        <div><input id="carnum" type="text" placeholder="차 번호" /></div>
        <button type="submit">등록</button>
      </fieldset>
    </form>
    <table>
      <thead>
        <tr>
          <th>차번호</th>
          <th>시간</th>
          <th>돈</th>
        </tr>
      </thead>
      <tbody>
        {% for car in cars %}
        <tr>
          <td>{{car.CarNum}}</td>
          <td>{{car.Time}}</td>
          <td>{{car.Money}}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="/select.js"></script>
  </body>
</html>
